.background-tester-custom{
    z-index: -999;
    position: absolute;
    height:100vh;
    width:100vw;
    background-image: linear-gradient(to bottom, rgb(182, 255, 210,0.35), #fadf9a60);
}
.tester-custom{
    padding-top:100px;
}
.webcam-element{
    width:30vw;
    border-radius: 1rem;
}

@media only screen and (max-width: 600px) {
    .webcam-element{
        width:70vw;
        border-radius: 1rem;
    }
  }