.cam-layout{
    /* background-color: #ffffff; */
    /* border-radius: 5%; */
}
.custom-examSidebar{
    margin-bottom: 20px;
}

.custom-examQuestion{
    overflow-x: scroll;
    border-radius: 15px;
    border:5px solid #f5e3a9e7;
}
.webcam-element-e{
    width:100%;
    margin:0;
    border-radius: 30px;
    border:7px solid #f5e3a9e7;
}

::-webkit-scrollbar {
    width: 5px;               
  }
  
::-webkit-scrollbar-track {
    background: #FFEFBA;
  }
  
::-webkit-scrollbar-thumb {
    background-color: #f4a33a8e;   
    border-radius: 20px;       
  }

  .body-e {
    height:99vh;
    overflow-y: scroll;
    }
  .hover-hider:hover{
    /* cursor: pointer; */
    /* cursor: context-menu; */
    cursor: default;
  }
  @media only screen and (max-width: 600px) {
    .webcam-element-e{
        position:sticky;
        top:20px;
        width:30%;
        z-index:11111;
        margin:0;
        margin-top:10px;
        border-radius: 35px;
        border:5px solid #f5e3a9e7;
    }
   }