.background{
    position: absolute;
    /* height:50%; */
    width:50%;
    opacity: 0.5;
    z-index:0;
    text-align: center;
}
.top-content-creator-section{
    z-index:5;
}
.bg-black{
    background-color: #000;
}
@media(max-width:768px){
    .background{
        margin-top:25vh;
        height:75vh;
        width:90vw;
    }
}
.rotate {
    -webkit-animation: rotate 5s normal linear infinite;
    animation: rotate 5s normal linear infinite;
  }
  
  @keyframes rotate {
    0% {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
    25% {
      -webkit-transform: rotate3d(0, 0, 1, 90deg);
      transform: rotate3d(0, 0, 1, 90deg);
    }
    50% {
      -webkit-transform: rotate3d(0, 0, 1, 180deg);
      transform: rotate3d(0, 0, 1, 180deg);
    }
    75% {
      -webkit-transform: rotate3d(0, 0, 1, 270deg);
      transform: rotate3d(0, 0, 1, 270deg);
    }
    100% {
      -webkit-transform: rotate3d(0, 0, 1, 360deg);
      transform: rotate3d(0, 0, 1, 360deg);
    }
  }